---
---

<!DOCTYPE HTML>
<html>
 <head>
  <title>Efektif</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="vendor/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/progress.css">
  <style>
* {
word-wrap: break-word;
}
   .atas {
    position: fixed;
    bottom: 10px;
    right: 10px;
   }
   .sembunyi {
    display: none;
   }
  </style>
 </head>
 <body>
  <div class="vue">
   <br>
   <div class="container">
    <router-view></router-view>
   </div>
   <div @click="ke_atas()" class="btn btn-info atas">UP</div>
    <div class="progress-loading sembunyi">
      <div class="indeterminate"></div>
    </div>
  </div>
  {% include beranda.html %}
  {% include beranda/beranda.html %}
  {% include beranda/tambah.html %}
  {% include beranda/selesai.html %}
  {% include beranda/edit.html %}
  {% include login.html %}
  {% include daftar.html %}
  <script src="vendor/vue.min.js"></script>
  <script src="vendor/vue-router.min.js"></script>
  <script>
   api = "https://mzaini30.nasihosting.com/efektif"
   loading = () => document.querySelector('.progress-loading').classList.remove('sembunyi')
   loading_selesai = () => document.querySelector('.progress-loading').classList.add('sembunyi')
   new Vue({
    el: ".vue",
    methods: {
     ke_atas(){
      window.scrollTo({
       left: 0,
       top: 0,
       behavior: "smooth"
      })
     }
    },
    watch: {
     $route(){
      this.ke_atas()
     }
    },
    router: new VueRouter({
     routes: [
      {
       path: "/",
       component: beranda,
       children: [
        {
         path: "",
         component: beranda_beranda
        },
        {
         path: "tambah",
         component: beranda_tambah
        },
        {
         path: "selesai",
         component: beranda_selesai
        },
        {
         path: ":id/edit",
         component: beranda_edit
        }
       ]
      },
      {
       path: "/login",
       component: login
      },
      {
       path: "/daftar",
       component: daftar
      }
     ]
    })
   })
  </script>
 </body>
</html>
