<template id="beranda">
 <div>
  <h1 class="text-center">Efektif</h1>
  <hr>
  <div class="menu">
   <div class="btn-group">
    <router-link to="/" class="btn btn-dark">Beranda</router-link>
    <router-link to="/tambah" class="btn btn-primary">Tambah quest</router-link>
    <router-link to="/selesai" class="btn btn-success">Quest selesai</router-link>
    <div @click="logout()" class="btn btn-danger">Logout</div>
   </div>
  </div>
  <br>
  <router-view></router-view>
 </div>
</template>
<script>
 beranda = {
  template: "#beranda",
  methods: {
   logout(){
    this.$router.push("/login")
   }
  }
 }
</script>
<style>
 .menu {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
 }
</style>