<template id="beranda_beranda">
 <div>
  <center>
   <p>
    <img :src="svg">
   </p>
  </center>
  <div class="form-group">
   <label>Pasang badge</label>
   <input readonly="" :value="embed(svg)" class="form-control">
  </div>
  <div class="list-group">
   <div v-for="x in data" v-if='x.selesai == 0' class="list-group-item">
    <p v-text='x.quest'></p>
    <div class="btn-group">
     <div @click="selesai(x.id)" class="btn btn-success">Selesai</div>
     <router-link :to="'/' + x.id + '/edit'" class="btn btn-warning">Edit</router-link>
    </div>
   </div>
  </div>
  <br>
 </div>
</template>
<script>
 beranda_beranda = {
  template: "#beranda_beranda",
  data(){
   return {
    svg: "",
    data: []
   }
  },
  methods: {
   selesai(id){
    loading()
    fetch(`${api}/quest.php/${localStorage.token_efektif}/selesai/${id}`).then(() => {
      this.ambil_data()
      this.ambil_svg()
      loading_selesai()
    })
   },
   embed(x){
    return `<a href="https://mzaini30.js.org/efektif"><img src="${x.replace(/\?.+/, '')}"></a>`
   },
   ambil_data(){
    loading()
    fetch(`${api}/quest.php/${localStorage.token_efektif}/tampil`).then(x => x.json()).then(data => {
      this.data = data
      loading_selesai()
    })
   },
   ambil_svg(){
    loading()
    fetch(`${api}/quest.php/${localStorage.token_efektif}/user-id`).then(x => x.json()).then(data => {
      this.svg = `${api}/badge.php/${data}?${Math.random()}`
      loading_selesai()
    })
   }
  },
  mounted(){
    this.ambil_data()
    this.ambil_svg()
  }
 }
</script>
