<template id="beranda_beranda">
 <div>
  <center>
   <p>
    <img :src="svg">
   </p>
  </center>
  <div class="form-group">
   <label>Pasang badge</label>
   <input readonly="" :value="embed(svg)" class="form-control">
  </div>
  <div class="list-group">
   <div v-for="x in data" v-if='x.selesai == 0' class="list-group-item">
    <p v-text='x.quest'></p>
    <div class="btn-group">
     <div @click="selesai(x.id)" class="btn btn-success">Selesai</div>
     <router-link :to="'/' + x.id + '/edit'" class="btn btn-warning">Edit</router-link>
    </div>
   </div>
  </div>
  <br>
 </div>
</template>
<script>
 beranda_beranda = {
  template: "#beranda_beranda",
  data(){
   return {
    svg: "",
    data: []
   }
  },
  methods: {
   selesai(id){
    fetch(`${api}/quest.php/${localStorage.token_efektif}/selesai/${id}`).then(() => this.ambil_data())
   },
   embed(x){
    return `<a href="https://mzaini30.js.org/efektif/"><img src="${x}"></a>`
   },
   ambil_data(){
    fetch(`${api}/quest.php/${localStorage.token_efektif}/tampil`).then(x => x.json()).then(data => this.data = data)
   }
  },
  mounted(){
    this.ambil_data()
    
  }
 }
</script>