<template id="beranda_edit">
 <div>
  <form @submit.prevent="edit()">
   <div class="form-group">
    <input class="form-control" required="" ref="input" v-model='input'>
   </div>
  </form>
 </div>
</template>
<script>
 beranda_edit = {
  template: "#beranda_edit",
  data(){
    return {
      input: ''
    }
  },
  mounted(){
    loading()
    fetch(`${api}/quest.php/${localStorage.token_efektif}/edit/${this.$route.params.id}`).then(x => x.json()).then(data => {
      this.input = data
      loading_selesai()
    })
   this.$refs.input.focus()
  },
  methods: {
   edit(){
    body = new FormData
    body.append('quest', this.input)
    loading()
    fetch(`${api}/quest.php/${localStorage.token_efektif}/update/${this.$route.params.id}`, {
      method: 'post',
      body
    }).then(() => {
      this.$router.push("/")
      loading_selesai()
    })
   }
  }
 }
</script>
