<template id="beranda_tambah">
 <div>
  <form @submit.prevent="tambahkan()">
   <div class="form-group">
    <input class="form-control" required="" placeholder="Masukkan quest" v-model="quest" ref="input">
   </div>
  </form>
 </div>
</template>
<script>
 beranda_tambah = {
  template: "#beranda_tambah",
  mounted(){
   this.$refs.input.focus()
  },
  data(){
   return {
    quest: ""
   }
  },
  methods: {
   tambahkan(){
    body = new FormData
    body.append("quest", this.quest)
    loading()
    fetch(`${api}/quest.php/${localStorage.token_efektif}/tambah`, {
     method: "post",
     body
    }).then(() => {
      this.$router.push("/")
      loading_selesai()
    })
   }
  }
 }
</script>